b, h1, h2, h3, a, th, td, p{
    color: black;
    font-family: "Helvetica", serif;
    text-decoration: none;
}

body {
    background: rgb(231, 231, 231);
    margin: 0;
    border: 0;
    outline: 0;
    top: 0;
    overflow: hidden;
}

#background-wave  {
    background-image: url("../images/ocean-waves.png");
    height: 117vh;
    background-size: 102vw 84vh;
    background-position: center;
    background-repeat: no-repeat;
}

.page-content {
    text-align: center;
    margin: 0 auto;
    border: 0;
    outline: 0;
}

.container {
    min-height: 100vw;
    margin-right: 8vw;
    margin-left: 8vw;
    padding: 24px 25px 24px 0px;
    align-content: center;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

/* Navigation Bar */
.nav-bar {
    background-color: white;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    width: 84vw;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    left: 50%;
}


.nav-bar-right {
    padding-top: 6px;
    float: right;
    display: inline-flex;
}

.nav-bar-item {
    display: inline-flex;
    float: left;
    padding-left: 24px;
    padding-right: 24px;
}

.nav-bar-center {
    display: inline-flex;
    text-align: center;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
}


/* buttons */
.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50vw;
}

.button {
    background-color: #0077ff; /* Replace with desired button color */
    border-radius: 11px;
    color: #fff; /* Replace with desired text color */
    padding: 3%;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #0055cc; /* Replace with desired hover button color */
}

/* form for sign in and registration */
#form {
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    margin: auto;
    padding-bottom: 20px;
    background-color: rgb(13,0,87,0.3);
}

/* Homepage grid*/

li {
    text-align: left;
    font-size: 22px;
    padding: 5px;
}

.page-content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 50px;
}

.left-box {
    background: rgb(255, 255, 255);
    color: black;
    padding: 25px;
    border-radius: 40px;
}

.right-box {
    background: rgb(255, 255, 255);
    border-radius: 40px;
    color: #333;
    padding: 20px;
    max-height: 50vh;
    display: grid;
    grid-template:
    "top-row top-row top-row" auto
    "bottom-left gap bottom-right" auto / 1fr 10px 1fr;
}

#right-box-wave{
    background-image: url("../images/wave.svg");
    height: 18vh;
    background-size: 71vw auto;
    background-position: center;
    background-repeat: no-repeat;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.top-row {
    grid-area: top-row;
    text-align: center;
}

.bottom-left {
    grid-area: bottom-left;
    align-items: center;
    justify-content: center;
}

.bottom-right {
    grid-area: bottom-right;
    align-items: center;
    justify-content: center;
}

.gap {
    grid-area: gap;
}

span {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    font-weight: bold;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

.active, .collapsible:active {
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    margin-top: 5px;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.collapsible.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.board-box {
    display: none;
    overflow: hidden;
    background-color: #d9d9d9;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    margin-bottom: 10px;
}

.board-box-content {
    display: flex;
    margin: 1.5vh;
    justify-content: center;
    align-items: center;
}

.button-59 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-59:focus {
    color: #171e29;
}


.button-59:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

.button-59:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

.button-69 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 20px;
    justify-content: center;
    letter-spacing: -.8px;
    min-width: 70px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0.5vh;
}

.button-69:focus {
    color: #171e29;
}


.button-69:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

.button-69:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

.center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 425px;
    padding: 30px 20px;
    background: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
    pointer-events: none; /* Add this line */
}
.popup.active {
    border-style: solid;
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    pointer-events: auto; /* Add this line */
}
.popup .icon {
    text-align:center;
    display:inline-block;
}
.popup .icon i.fa {
    font-size:30px;
    color:#34f234;
}
.popup .title {
    margin:5px 0px;
    font-size:30px;
    font-weight:600;
}
.popup .description {
    text-align: center;
    color:#222;
    font-size:15px;
    padding:20px;
}
.popup .dismiss-btn {
    margin-top:15px;
}
.popup .dismiss-btn button {
    margin-top: 5px;
    padding:10px 30px;
    background:#111;
    color:#f5f5f5;
    border:2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
    color:#111;
    background:#f5f5f5;
}

.popup .submit-btn {
    margin-top:15px;
}
.popup .submit-btn button {
    padding:10px 20px;
    background:#111;
    color:#f5f5f5;
    border:2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
}
.popup .submit-btn button:hover {
    color:#111;
    background:#f5f5f5;
}

.popup > div {
    position:relative;
    top:10px;
    opacity:0;
}
.popup.active > div {
    top:0px;
    opacity:1;
}
.popup.active .icon {
    transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
    transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
    transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
    transition: all 300ms ease-in-out 400ms;
}