b, a{
    color: black;
    font-family: "Helvetica", serif;
    text-decoration: none;
}

html, body, section {
    block-size: 100%;
}

html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section:nth-of-type(even) {
    color: #E7E7E7;
    background: #333333;
}

section:nth-of-type(odd) {
    color: #333333;
    background: #E7E7E7;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 4rem;
}

/* Navigation Bar */
.nav-bar {
    position: fixed;
    background-color: white;
    margin-top: 15px;
    padding-top: 1.68vh;
    padding-bottom: 1.2vh;
    border-radius: 50px;
    width: 84vw;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.darkModeToggle {
    background-color: #1a1a1a;
    color: #fff;
}
.nav-bar-right {
    padding-top: 6px;
    float: right;
    display: inline-flex;
}

.nav-bar-item {
    display: inline-flex;
    float: left;
    padding-right: 3vw;
}

.nav-bar-logo {
    display: inline-flex;
    float: left;
    padding-left: 24px;
    padding-right: 24px;
}

.logo1 {
    height: auto; width: 185px; margin-bottom: -12px;
}

.logo2 {
    height: auto; width: 500px; margin-top: 50px; margin-bottom: -50px;
}

.nav-bar-center {
    display: inline-flex;
    text-align: center;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
}

/* buttons */
.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50vw;
    margin-bottom: -25vh;
}

.button {
    background-color: #0077ff; /* Replace with desired button color */
    border-radius: 11px;
    color: #fff; /* Replace with desired text color */
    padding: 3%;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #0055cc; /* Replace with desired hover button color */
}

.page-content {
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    border: 0;
    outline: 0;
}

@media only screen and (max-width: 700px) {
    body {
        font-size: 1.3rem;
        width: 100%;
    }

    .nav-bar {
        font-size: 12px;
        width: 90vw;
    }

    .nav-bar-item {
        border-style: solid;
        border-width: thin;
        border-color: rgb(51,51,51,0.2);
        text-align: center;
        margin: 1vw;
        padding: 14px;
        border-radius: 25px;
    }

    .nav-bar-right {
        float: none;
    }

    .buttons {
        width: 80vw;
    }

    .button {
        padding: 5%;
    }

    .logo1 {
        height: auto;
    }

    .logo2 {
        height: auto;
        width: 100vw;
        margin-top: 30px;
        margin-bottom: -10px
    }
    .nav-bar-logo {
        display: none;
    }
}