<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="css/global.css" type="text/css"/>
</head>
<body>
<div class="container">

  <!--Navigation bar-->
  <div class="nav-bar">
    <div class="nav-bar-item">
      <a href="./">
        <b style="font-size: 32px">Board Wave</b>
      </a>
    </div>
    <div class="nav-bar-right">
      <div><a class="nav-bar-item" href="/about-page">About</a></div>
      <div><a class="nav-bar-item">Contact</a></div>
      <div><a class="nav-bar-item" href="/register-page">Sign Up</a></div>
      <div><a class="nav-bar-item" href="/login-page">Log in</a></div>
    </div>
  </div>

  <!--Page Content-->
  <div class="page-content">

    <h1>Contact BroadWave</h1>

    <p>If you wish to contact us. I'm not sure that is possible, but you can try here</p>

    <p>Email: Thisemaildoesnotexsist@wishly.com</p>

    <p>Phone Number: 70 24 12 07</p>

    <p>Or Find us on <a href="https://github.com/danieljappe/AlphaSolutionsEksamensProjekt" target="_blank" style="text-decoration: none"><b>GitHub</b></a></p>
  </div>

</div>
</body>
</html>