<!DOCTYPE html>
<html>
<head>
  <title>Board Wave</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=1, width=device-width"/>
  <link rel="stylesheet" href="../css/index.css" type="text/css" id="dark-mode-stylesheet"/>
  <link rel="icon" type="image/x-icon" href="../images/wave-favicon.png">
  <script>
    function darkModeToggle() {
      var element = document.body;
      element.classList.toggle("darkModeToggle");
      var img = document.getElementById("mode-icon");
      var link = document.getElementById("dark-mode-stylesheet");

      if (img.src.endsWith("lightbulb.png")) {
        img.src = "../images/darkbulb.png";
        link.href = "../css/index-darkmode.css";
      } else {
        img.src = "../images/lightbulb.png";
        link.href = "../css/index.css";
      }
    }
  </script>
</head>
<body>
<div class="container">

  <!--Navigation bar-->
  <div class="nav-bar">
    <div class="nav-bar-logo">
      <a href="./">
        <img src="../images/boardwavelogo.png" alt="logo" class="logo1">
      </a>
    </div>
    <div class="nav-bar-item">
      <img id="mode-icon" src="../images/lightbulb.png" alt="logo" style="height: auto; width: 2.8vw; margin-top: -0.5vh;"
           onclick="darkModeToggle()">
    </div>
    <div class="nav-bar-right">
      <div><a class="nav-bar-item" href="/about-page">About</a></div>
      <div><a class="nav-bar-item" href="/contact-page">Contact</a></div>
      <div><a class="nav-bar-item" href="/register-page">Sign Up</a></div>
      <div><a class="nav-bar-item" href="/login-page">Log in</a></div>
    </div>
  </div>

  <!--Page Content-->
  <div class="page-content">

    <section>
      <img src="../images/boardwavelogo.png" alt="logo" class="logo2">
      <h1>The Ultimate Project<br>Management Tool</h1>
    </section>

    <section>
      <p>Streamline your projects<br> and stay on top of your tasks with <img src="../images/boardwavelogo.png" alt="logo" style="height: auto; width: 325px; margin-bottom: -7px"></p>
    </section>

    <section>
      <p>The sleek and intuitive project management tool designed for teams of all sizes.</p>
    </section>

    <section>
      <div class="buttons">
        <a href="/register-page" class="button">Sign Up Now</a>
      </div>
      <a href="https://github.com/danieljappe/AlphaSolutionsEksamensProjekt" target="_blank"
         style="display: inline-block; margin-top: 30vh;">
        <img onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'" src="../images/github-icon.png" alt="github-icon"
             style="height: auto; width: 15vw; transform: scale(1.1);">
      </a>
    </section>
  </div>
</div>
</body>
</html>
