<!DOCTYPE html>
<html>
<head>
    <title>Board Wave</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <link rel="stylesheet" href="css/index.css" type="text/css"/>
</head>
<body>
<div class="container">

    <!--Navigation bar-->
    <div class="nav-bar">
        <div class="nav-bar-item">
            <a href="./">
                <b style="font-size: 32px">Board Wave</b>
            </a>
        </div>
        <div class="nav-bar-right">
            <div><a class="nav-bar-item" href="/about-page">About</a></div>
            <div><a class="nav-bar-item" href="/contact-page">Contact</a></div>
            <div><a class="nav-bar-item" href="/register-page">Sign Up</a></div>
            <div><a class="nav-bar-item" href="/login-page">Log in</a></div>
        </div>
    </div>

    <!--Page Content-->
    <div class="page-content">

        <section>
            <h1>The Ultimate Project Management Tool</h1>
        </section>

        <section>
            <p>Streamline your projects and stay on top of your tasks with BroadWave.</p>
        </section>

        <section>
            <p>The sleek and intuitive project management tool designed for teams of all sizes.</p>
        </section>

        <section>
            <div class="buttons">
                <a href="/register-page" class="button">Sign Up Now</a>
            </div>
        </section>
    </div>
</div>
</body>
</html>
