<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <link rel="stylesheet" href="css/nytStylesheet.css" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="../images/wave-favicon.png">
</head>
<body>
<div class="container">

    <!--Navigation bar-->
    <div class="nav-bar">
        <div class="nav-bar-item">
            <a href="./">
                <img src="../images/boardwavelogo.png" alt="logo"
                     style="height: auto; width: 185px; margin-bottom: -12px">
            </a>
        </div>
        <div class="nav-bar-right">
            <div><a class="nav-bar-item" href="/about-page">About</a></div>
            <div><a class="nav-bar-item" href="/contact-page">Contact</a></div>
            <div><a class="nav-bar-item" href="/trello-page">Trello</a></div>
        </div>
    </div>

    <!--Page Content-->
    <div class="grid-container">
        <div class="grid-item">
            <div class="left-box">
                <h2>Welcome, <span style="color: #6fa4ec;" class="username" th:text="${user.getName()}"></span> to:</h2>
                <h1 th:text="${board.getTitle()}" style="color: #6fa4ec"></h1>
            </div>
        </div>
        <div class="grid-item">
            <div class="right-box">
                <div class="box">
                    <h1>Insert column</h1>
                    <form th:action="@{/addNewColumnToBoard}" th:object="${column}" method="post">
                        <div>
                            <input type="hidden" name="id" th:value="-1">
                            <input type="hidden" name="boardId" th:value="${board.getId()}">
                            <label>Title:</label>
                            <input type="text" th:field="${column.title}" />

                            <input type="submit" value="Add Todo" />
                        </div>
                    </form>
                </div>
                <div class="box">
                    <h1>Remove column</h1>
                    <form th:action="@{/deleteColumn}" method="post">
                        <input type="hidden" name="cardId" th:value="${card.getId()}">
                        <input type="hidden" name="boardId" th:value="${board.getId()}">
                        <label for="columns1">Delete column:</label>
                        <select id="columns1" name="columnId">
                            <option th:each="column : ${board.getColumns()}" th:value="${column.getId()}" th:text="${column.getTitle()}"></option>
                        </select>
                        <input type="submit" value="Remove">
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div style="overflow-x: auto; overflow-y: auto; max-height: 500px">
        <table class="table">
            <thead style="text-align: center;">
                <tc th:each="column: ${board.getColumns()}">
                    <th style="background-color: rgba(119, 119, 119, 0.2);" th:text="${column.getTitle()}"></th>
                </tc>
            </thead>
            <tbody>
                <tc th:each="column: ${board.getColumns()}">
                        <td>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="background-color: rgba(119, 119, 119, 0.2); width: 4vw">Title</th>
                                        <th style="background-color: rgba(119, 119, 119, 0.2);">Minutes Estimated</th>
                                        <th style="background-color: rgba(119, 119, 119, 0.2);">Hourly Rate</th>
                                        <th style="background-color: rgba(119, 119, 119, 0.2);">More</th>
                                        <th style="background-color: rgba(119, 119, 119, 0.2);">Move</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr th:each="card: ${column.getCards()}">
                                        <td th:text="${card.getTitle()}" style="text-align: center"></td>
                                        <td th:text="${card.minutesEstimated}" style="text-align: center"></td>
                                        <td th:text="${card.hourlyRate}" style="text-align: center"></td>
                                        <td>
                                            <div class="popup center">
                                                <div class="icon">
                                                    <img src="../images/surfing-logo.png" alt="wave" style="height: auto; width: 100px">
                                                </div>
                                                <div class="popup-title">
                                                    <h1 th:text="${card.getTitle()}"></h1>
                                                </div>
                                                <div class="popup-title">
                                                    <h3 th:text="${card.getMinutesEstimated()}"></h3>
                                                </div>
                                                <div class="popup-title">
                                                    <h3 th:text="${card.getHourlyRate()}"></h3>
                                                </div>

                                                <div class="description">
                                                    <p th:text="${card.description}"></p>
                                                </div>
                                                <form th:action="@{/deleteCard}" method="post">
                                                    <input type="hidden" name="cardId" th:value="${card.getId()}">
                                                    <input type="hidden" name="boardId" th:value="${board.getId()}">
                                                    <input type="submit" value="Remove">
                                                </form>
                                                <div class="dismiss-btn">
                                                    <button class="dismiss-popup-btn">
                                                        Dismiss
                                                    </button>
                                                </div>
                                            </div>
                                            <button class="button-59 open-popup-btn" type="submit">More</button>
                                        </td>
                                        <td>
                                            <form th:action="@{/moveCard}" method="post">
                                                <input type="hidden" name="cardId" th:value="${card.getId()}">
                                                <input type="hidden" name="boardId" th:value="${board.getId()}">
                                                <label for="columns">Move to column:</label>
                                                <select id="columns" name="columnId">
                                                    <option th:each="column : ${board.getColumns()}" th:value="${column.getId()}" th:text="${column.getTitle()}"></option>
                                                </select>
                                                <input type="submit" value="Move">
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                                    <tr>
                                        <td colspan="5">
                                            <form th:action="@{/addNewCardToColumn}" th:object="${card}" method="post">
                                                <div style="display: flex; align-items: center; justify-content: center; padding: 10px;">
                                                    <input type="hidden" name="columnId" th:value="${column.getId()}">
                                                    <input type="hidden" name="boardId" th:value="${board.getId()}">
                                                    <label>Add card: </label><br>
                                                    <input type="text" th:field="${card.title}" />
                                                    <input type="submit" value="Add Todo" />
                                                </div>
                                            </form>
                                        </td>
                                    </tr>

                            </table>

                        </td>
                </tc>

            </tbody>
        </table>
    </div>

    <!--<div>
        <h1>INSERT CARD</h1>
        <form th:action="@{/addNewCardToColumn}" th:object="${card}" method="post">
            <div class="body">
                <input type="hidden" name="id" th:value="*{id}">
                <input type="hidden" name="columnId" th:value="3"> &lt;!&ndash;Change 3 to column.getId() when under column hierachy&ndash;&gt;
                <input type="hidden" name="boardId" th:value="${board.getId()}">

                <label>title:</label><br>
                <input type="text" th:field="${card.title}" />

                <label>description:</label><br>
                <input type="text" th:field="${card.description}" />

                <label>minutesEstimated:</label><br>
                <input type="number" th:field="${card.minutesEstimated}" />

                <label>hourlyRate:</label><br>
                <input type="number" th:field="${card.hourlyRate}" />

                <input type="submit" value="Add Todo" />
            </div>
        </form>
    </div>-->

</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var openPopupBtns = document.querySelectorAll(".open-popup-btn");
        var dismissPopupBtns = document.querySelectorAll(".dismiss-popup-btn");
        var popups = document.querySelectorAll(".popup");

        openPopupBtns.forEach(function(openPopupBtn, index) {
            openPopupBtn.addEventListener("click", function() {
                popups[index].classList.add("active");
            });
        });

        dismissPopupBtns.forEach(function(dismissPopupBtn, index) {
            dismissPopupBtn.addEventListener("click", function() {
                popups[index].classList.remove("active");
            });
        });
    });
</script>

</body>
</html>
