<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register Page</title>
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="css/global.css" type="text/css"/>
</head>
<body>
<div class="container">

  <!--Navigation bar-->
  <div class="nav-bar">
    <div class="nav-bar-item">
      <a href="./">
        <b style="font-size: 32px">Board Wave</b>
      </a>
    </div>
    <div class="nav-bar-right">
      <div><a class="nav-bar-item" href="/about-page">About</a></div>
      <div><a class="nav-bar-item" href="/contact-page">Contact</a></div>
      <div><a class="nav-bar-item">Sign Up</a></div>
      <div><a class="nav-bar-item" href="/login-page">Log in</a></div>
    </div>
  </div>

  <!--Page Content-->
  <div id="form">
    <div style="margin-right: 30px">
      <h1 style="display:inline-block; margin-right: 6px">Sign</h1><h1 style="display:inline-block;" class="gold">up</h1>
    </div>
    <form action="#" th:action="@{/register-page}" th:object="${userTemplate}" method="post">
      <div class="form-item">
        <b>Name</b>
        <input style="width: 200px; margin-top: 5px; text-align:center;" type="text" th:field="${userTemplate.name}"/>
      </div>
      <div class="form-item">
        <b>Email</b>
        <input style="width: 200px; margin-top: 5px; text-align:center;" type="email" th:field="${userTemplate.email}"/>
      </div>
      <div class="form-item">
        <b>Password</b>
        <input style="width: 200px; margin-top: 5px; text-align:center;" type="password" th:field="${userTemplate.password}"/>
      </div>
      <div>
        <button type="submit" class="button">
          <div class="login3">Sign Up</div>
        </button>
      </div>
      <a href="/login-page">Already have an account?
        <br>Click here to login</a>
    </form>
  </div>

</div>
</body>
</html>