<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <link rel="stylesheet" href="css/global.css" type="text/css"/>
</head>
<body>
<div class="container">

    <!--Navigation bar-->
    <div class="nav-bar">
        <div class="nav-bar-item">
            <a href="./">
                <b style="font-size: 32px">Board Wave</b>
            </a>
        </div>
        <div class="nav-bar-right">
            <div><a class="nav-bar-item">About</a></div>
            <div><a class="nav-bar-item" href="/contact-page">Contact</a></div>
            <div><a class="nav-bar-item" href="/trello-page">Trello</a></div>
        </div>
    </div>

    <!--Page Content-->
    <div class="page-content">
        <h1>User home page</h1>
        <p>You are logged in!!</p>
    </div>
</div>
</body>
</html>